* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

section {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

form {
    position: fixed;
    width: 500px;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0 0 15px #8da2ff;
    z-index: 1;
}

.title {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 15px;
    color: #8da2ff;
    font-weight: bold;
}

.caixa-text {
    border-radius: 10px;
    margin-top: 20px;
    width: 90%;
    height: 150px;
    padding: 15px;
    resize: none;
    background-color: #8da2ff33;
    border: 1px solid #8da2ff;
}

.btn-enviar {
    width: 30%;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    color: #ffffff;
    background-color: #8da2ff;
    border: 1px solid #8da2ff;
}

.btn-enviar:hover {
    background-color: #6274c9;
    border: 1px solid #6274c9;
    color: #ffffff;
}